@model PartsCatalog.Areas.Shop.Models.OrderListingViewModel
@{
    ViewData["Title"] = "List";
}
<br />
<center>
<h2>Поръчки</h2>
@if (User.IsInRole("Administrator"))
{ 
    
    <a asp-area="Admin" asp-controller="AdminOrders" asp-action="ListAll" class="text-success">Всички поръчки</a>
    
}
</center>
<br />
@if (Model.Orders.Any())
{
    <div class="row">
        <center>
            <div class="col-sm-12 col-md-10 col-md-offset-1">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Поръчка номер</th>
                        <th class="text-center">За плащане</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var order in Model.Orders)
                    {
                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <div class="media-body">
                                        <h4 class="media-heading">@order.Id</h4>

                                    </div>
                                </div>
                            </td>

                            <td class="col-sm-1 col-md-1" style="text-align: center">
                                <strong>@order.TotalPrice</strong>
                            </td>
                            <td class="col-sm-1 col-md-1">

                                <a class="btn btn-danger" asp-area="Shop" asp-controller="Orders" asp-action="Details" asp-route-id="@order.Id">Детайли</a>


                            </td>

                        </tr>

                    }



                    </tbody>
                </table>
            </div>
        </center>
    </div>
}
else
{
    <p>Нямате поръчки</p>
}